* {
	margin: 0;
	padding: 0;
}
html {
	font-family: 'Open Sans', sans-serif;
    background-color: #6e71c4;
    color: white;
}
#header {
	font-size: 24px;
}
.logo {
	float: left;
	padding-right: 15px;
    padding-top: 40px;
}
.site_title {
	padding-top: 90px;
}
#navigation {
	padding: 15px;
	background-color: #a45c9c;
	margin-bottom: 20px;
}
#navigation ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 22px;
}
#header,#hyperlinks {
	margin-bottom: 20px;
	padding: 30px;
}
#footer {
	background-color: #3192ac;
	padding: 0px;
	margin-top: 40px;
	font-size: 12px;
}
table {
	text-align: center;
	border: 12px solid #8eabec;
	border-spacing: spacing;
}
td, th {
	width: 120px;
	padding: 3px;
	font-size: 18px;
}
tr:nth-child(odd) {
	background-color: #3c90af;
}
tr:nth-child(even) {
	background-color: #b2a0c5;
}
a {
	text-decoration: none;
	transition: 0.3s ease-in-out;
	color: white;
}
a:hover {
	color: rgb(54, 54, 54);
}
.container {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.tabl 
{
	display: flex;
	flex-direction: column;
}
.fform {
	flex: 1;
	order: 0;
}
.contF 
{
	display: flex;
	flex-direction: column;
}
.s 
{
	flex: 1;
	order: 4;
}
.t 
{
	flex: 1;
	order: 6;
}

.f 
{
	flex: 1;
	order: 5;
}

@media screen and (min-width: 1200px) {

	.container {max-width: 960px;}

	.contF {
		display: flex;
		flex-direction: column;
	}

	.s {
		flex: 1;
		order: 4;
	}

	.t {
		flex: 1;
		order: 5;
	}
	.f {
		flex: 1;
		order: 6;
	}

	#navigation ul{
		flex-direction: row;
		justify-content: space-around;
		font-size: 25px;
	}

	#header, #hyperlinks {
		padding: 2vw;
	}

	#container {
        font-size: 10pt;
	}
}
